<%= form_with model: post, class: "max-w-5xl mx-auto" do |form| %>
  <div class="flex items-center">
    <%= form.label :title %>
    <%= form.text_field :title, class: "border border-gray-300 rounded-md shadow-md p-2 m-6 w-full" %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center">
    <%= form.label :content %>
    <% post.errors.full_messages_for(:content).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <%= form.rich_text_area :content %>

  <div>
    <%= form.submit "Create Post", class: "btn-blue" %>
  </div>
<% end %>